.info-card {
  display: flex;
  align-items: center;
  margin: 50px;
  text-align: left;

  &--right {
    flex-direction: row-reverse;
    & .info-card__image-container {
      margin-right: 0;
      margin-left: 50px;
      & img {
        clip-path: polygon(5% 13%, 100% 6%, 97% 94%, 0 92%);
      }
    }
  }

  &__image-container {
    margin-right: 50px;
    img {
      object-fit: cover;
      clip-path: polygon(1% 2%, 100% 8%, 97% 94%, 4% 100%);
      width: 250px;
      height: 250px;
      // border-radius: 50%;
    }
  }

  .info-text {
    background: dodgerblue;
    &--right {
      background: aquamarine;
    }
  }
}
