.info-card {
  display: flex;
  align-items: center;
  margin: 50px;
  text-align: left;

  &__image-container {
    margin-right: 50px;
    position: relative;

    &::before,
    img {
      clip-path: polygon(1% 2%, 100% 8%, 97% 94%, 4% 100%);
    }

    &::before {
      content: ''; // * for pseudo-elements
      width: 100%;  // *
      height: 100%;  // *
      position: absolute;  // *
      background: color(info-card-purple);
      display: block; // *
      right: 10px;
      bottom: 10px;
      z-index: 0;
    }
 
    img {
      object-fit: cover;
      width: 250px;
      height: 250px;
    }
  }

  &--right {
    flex-direction: row-reverse;
    .info-card__image-container {
      margin-right: 0;
      margin-left: 50px;

      &::before,
      img {
        clip-path: polygon(5% 13%, 100% 6%, 97% 94%, 0 92%);
      }

      &::before {
        background: color(info-card-green);
        left: 10px;
        bottom: -10px;
      }
    }
  }

  .info-text {
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 95%);
    background: color(info-card-green);
    padding: 30px;
    color: color(text);

    &--right {
      clip-path: polygon(0 1%, 100% 5%, 100% 92%, 1% 99%);
      background: color(info-card-purple);
    }
  }
}
