.info-card {
  display: flex;
  align-items: center;
  margin: 50px;
  text-align: left;

  &--right {
    flex-direction: row-reverse;
    & .info-card__image-container {
      margin-right: 0;
      margin-left: 50px;
      & img {
        clip-path: polygon(5% 6%, 94% 28%, 97% 94%, 9% 97%);
      }
    }
  }

  &__image-container {
    margin-right: 50px;
    img {
      object-fit: cover;
      clip-path: polygon(9% 16%, 100% 0, 89% 100%, 2% 100%);
      width: 250px;
      height: 250px;
      // border-radius: 50%;
    }
  }
}
