.made-by {
  p {
    text-align: center;
    clip-path: polygon(9% 14%, 86% 4%, 95% 92%, 7% 91%);
    padding: 25px 45px 20px 45px;
    margin: 20px 0;
    background-color: color(heading-background);
    color: color(text);
  }

  img {
    clip-path: polygon(3% 9%, 98% 5%, 100% 100%, 3% 96%);
  }

  .github-link {
    color: color(text);
    font-weight: bold;
  }
}