.pitch-card {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(odd) {
    p {
      background: lightpink;
    }

    img {
      clip-path: polygon(1% 9%, 100% 0, 100% 100%, 5% 94%);
    }
  }

  &:nth-child(even) {
    p {
      background: lightseagreen;
    }

    img {
      clip-path: polygon(0 0, 100% 7%, 95% 97%, 4% 100%);
    }
  }
}