.the-result {
  &__image {
    max-width: 900px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    & img {
      width: 100%;
    }
  }
}

.twitter-feed {
  &__tweet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    // margin: 20px 50px;
    // width: 40%;
    div {
      // margin: 10px;
      width: 45%;
      min-width: 350px;
    }
  }
}
