.the-result {
  &__image {
    max-width: 900px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    & img {
      width: 100%;
    }
  }
}

.twitter-feed {
  display: inline-flex;
  flex-wrap: wrap;
  &__tweet {
    margin: 20px 50px;
  }
}
