.App {
  text-align: center;
  width: 100%;
  background: radial-gradient(lightgrey 4px, transparent 4px) 0 0;
  background-size: 45px 45px;
}

.section-content {
  max-width: $content-width;
  margin: 0 auto; // adds padding on both sides to fill space (must be fixed width)
  min-height: 100vh;
  h1 {
    color: color(heading);
  }
  &--intro {
    background: color(intro);
    display: flex;
    flex-direction: column; // make main axis vertical instead of side-by-side
    justify-content: center; // center items vertically
    align-items: center; // center items horizontally
  }
  &--the-team {
    background: lightgrey;
    .section-header__wrapper {
      background: color(heading-bg);
      // clip-path: polygon(0 66%, 100% 59%, 92% 100%, 7% 100%);


      h1 {
        height: 100px;
      }
    }
  }
  &--the-challenge {
    background: lightgreen;
  }
  &--the-process {
    background: color(primary);
  }
  &--the-pitch {
    background: lightblue;
  }
  &--the-result {
    background: lightcoral;
  }
  &--related-links {
    background: color(link-variant, heavy, hover);
  }
}