.App {
  text-align: center;
  background: dodgerblue;
}

.the-team {
  min-height: 100vh;
  background: lightgrey;
}

.the-challenge {
  min-height: 100vh;
  background: lightgreen;
}

.the-process {
  min-height: 100vh;
  background: lightcoral;
}

.the-pitch {
  min-height: 100vh;
  background: lightblue;
}