.App {
  text-align: center;
  width: 100%;
  background: radial-gradient(lightgrey 4px, transparent 4px) 0 0;
  background-size: 45px 45px;
}

.section-content {
  max-width: $content-width;
  margin: 0 auto; // adds padding on both sides to fill space (must be fixed width)

  .section-header {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    // background-color: dodgerblue;
  }
  min-height: 100vh;
  &--intro {
    background: color(intro);
    display: flex;
    max-width: 100vw;
    flex-direction: column; // make main axis vertical instead of side-by-side
    justify-content: center; // center items vertically
    align-items: center; // center items horizontally

    .intro__team-icon {
      max-height: 450px;
    }

    h1 {
      font-weight: 800;
      color: color(heading)
    }
  }

  &--the-team {
    // background: lightgrey;
    .section-header {
      // width: 500px;
      position: relative;
      z-index: 0;
      // clip-path: polygon(0 14%, 100% 13%, 95% 100%, 5% 100%);

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: dodgerblue;
        clip-path: polygon(0 14%, 100% 0, 95% 100%, 5% 100%);


        right: 20px;
        bottom: 10px;
        z-index: -1;
      }

      h1 {
        z-index: 1;
        background-color: lightseagreen;
        clip-path: polygon(0 14%, 100% 0, 95% 100%, 5% 100%);
        padding: 35px 20px 20px;
        margin: 0;
      }
    }
  }

  &--the-challenge {
    background: lightgreen;
  }

  &--the-process {
    background: color(primary);
  }

  &--the-pitch {
    background: lightblue;
  }

  &--the-result {
    background: lightcoral;
  }

  &--related-links {
    background: color(link-variant, heavy, hover);
  }
}