.App {
  text-align: center;
  background: color(bg);
}

.the-team {
  min-height: 100vh;
  background: lightgrey;
}

.the-challenge {
  min-height: 100vh;
  background: lightgreen;
}

.the-process {
  min-height: 100vh;
  background: color(primary);
}

.the-pitch {
  min-height: 100vh;
  background: lightblue;
}