.team__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-flex;
    flex-direction: column;
    margin: 50px;
  
    &:nth-child(3n - 1) {
      a {
        &::before,
        img {
          clip-path: polygon(0 0, 100% 18%, 100% 89%, 0 95%);
        }
      }
    }
  
    &:nth-child(3n) {
      a {
        &::before,
        img {
          clip-path: polygon(0 0, 80% 18%, 100% 89%, 0 95%);
        }
      }
    }
  }

  &-link {
    display: inline-flex;
    width: 250px;
    position: relative;

    &::before,
    &__img {
      clip-path: polygon(3% 19%, 100% 15%, 98% 96%, 2% 92%);
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: pink;
      display: block;
      left: 15px;
      bottom: 15px;
      z-index: 0;
    }

    &__img {
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }
}
