// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,800|Rubik&display=swap');

// PAGE STYLES
$content-width: 1000px;

$breakpoints: (
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

// GUTTERS
$spacers: (
  small: 8px,
  medium: 16px,
  large: 24px,
);

// COLOUR PALETTE
$palette: (
  fed-green: #00c3b6,
  fed-yellow: #ffd83b,
  fed-pink: #ffb2d6,
  fed-violet: #a300ad,
  fed-grape: #53387a,
  fed-aubergine: #34074f,
  burgundy: #a4343a,
  flamingo: #ff485b,
  coral: #e84a37,
  orange: #e97200,
  lemon: #ffb718,
  grape: #c0b800,
  apple: #69813a,
  aqua: #00aea9,
  dusty-teal: #9ab8ac,
  pale-blue: #e4edfa,
  light-blue: #8cb7e8,
  very-light-blue: #e4edfa,
  blue: #107bbf,
  black: #000,
  slate: #5c666f,
  grey: #a8aab7,
  light-grey: #d2d2d2,
  very-light-grey: #f8f7f6,
  white: #fff,
  transparent: rgba(0, 0, 0, 0),
);

// COLOUR ASSIGNMENTS
// sass maps hold a collection of key/value pairs in a variable name
// map-get() takes two params: name of map and the key, i.e. from the $palette map
$colors: (
  bg: map-get($palette, flamingo),
  primary: map-get($palette, lemon),
  secondary: map-get($palette, flamingo),
  tertiary: map-get($palette, light-beige),
  link: map-get($palette, blue),
  link-hover: map-get($palette, flamingo),
  video: (
    background: map-get($palette, dusty-teal)
  ),
  link-variant: (
    heavy: (
      default: map-get($palette, flamingo),
      hover: map-get($palette, blue),
      visited: map-get($palette, flamingo),
    ),
    light: (
      default: map-get($palette, flamingo),
      hover: map-get($palette, blue),
      visited: map-get($palette, flamingo),
    )
  ),
  heading: map-get($palette, white),
  heading-bg: map-get($palette, fed-grape),
  intro: map-get($palette, fed-green)
);

// FONT VARIABLES
$heading-font: 'Fira Sans', sans-serif;
$body-font: 'Rubik', sans-serif;