.video {
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;

  &-container {
    bottom: 0;
    display: block;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    &::before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
      width: 100%;
    }

    & iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
