.App {
  text-align: center;
  background: dodgerblue;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__icon {

  }

  &__list {
    list-style: none;
    padding: 0;

    &-item {
      display: inline-flex;
      flex-direction: column;
      margin: 50px;
    }
    &-img {
      width: 250px;
      height: 250px;
      background: blue;
      border-radius: 50%
    }
  }
}