.App {
  text-align: center;
  background: dodgerblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__icon {

  }

  &__list {
    list-style: none;
    padding: 0;

    &-item {
      display: inline-flex;
      flex-direction: column;
      margin: 50px;
    }
    &-img {
      width: 250px;
      height: 250px;
      background: blue;
      border-radius: 50%
    }
  }
}