.App {
  text-align: center;
  background: dodgerblue;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__logo-icon {
    // width: 50%;
  }
}

.team__list {
  list-style: none;
  padding: 0;

  &-item {
    display: inline-flex;
    flex-direction: column;
    margin: 50px;
  }
  &-img {
    width: 250px;
    height: 250px;
    background: blue;
    border-radius: 50%
  }
}

.video {
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;

  &-container {
    bottom: 0;
    display: block;
    left: 0;
    position: relative;
    right: 0;
    top: 0;

    &::before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
      width: 100%;
    }

    & iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.info-card {
  display: flex;
  align-items: center;
  margin: 50px;
  text-align: left;

  &--right {
    flex-direction: row-reverse;
    & .info-card__image-container {
      margin-right: 0;
      margin-left: 50px;
      & img {
        clip-path: polygon(5% 6%, 94% 28%, 97% 94%, 9% 97%);
      }
    }
  }

  &__image-container {
    margin-right: 50px;
    img {
      object-fit: cover;
      clip-path: polygon(9% 16%, 100% 0, 89% 100%, 2% 100%);
      width: 250px;
      height: 250px;
      // border-radius: 50%;
    }
  }
}

.pitch-card {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(odd) {
    img {
      clip-path: polygon(0 5%, 88% 19%, 92% 96%, 0% 100%);
    }
  }

  &:nth-child(even) {
    img {
      clip-path: polygon(0 15%, 88% 13%, 89% 84%, 12% 100%);
    }
  }
}

.twitter {
  display: flex;
  flex-wrap: wrap;
}

.tweet {
  margin: 20px 50px;
}